.card {
    flex: 1 0 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 312px;
    height: 552;
    border: 1px solid #D58C51;
    padding: 43px 21px 32px 21px;
    color: #FFFFFF;
}

.card:hover {
    color: #D58C51;
}

.card__preview {
    width: 100%;
}

.card__title{
    margin-top: 31px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.card__description{
    margin-top: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.card__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.card__price {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.card__quantity {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.card__button {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: transparent;
    background-image: url(../../../../public/images/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
}

.card__button:hover {
    background-color: #D58C51;
    border: none;
}