.products {
    padding: 48px 70px 67px 70px;
    background-color: #161516;
    height: 100%;
}
.products__header {
    height: 173px;
    position: sticky;
    top: 0;
    color: #FFFFFF;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(#161516, 80%, transparent);
}
.products__wrapper {
    height:calc(100%–173px);
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 35px;
}

.title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
}

.products__list {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
}

.products__calc {
    display: flex;
    align-items: center;
    gap: 20px;
}

.products__button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #D58C51;
    border: none;
    background-image: url(../../../public/images/basket.svg);
    background-position: center;
    background-repeat: no-repeat;
}